In [6]:
import os
from flask import Flask, render_template, request, flash, redirect
import pyodbc
import codecs
import subprocess

In [1]:
lemma = "роща"

In [3]:
with pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-D39A2O2\SQLEXPRESS;'
                      'Database=ngram;'
                      'Trusted_Connection=yes;') as conn:
        print('filling database...2')
        cursor = conn.cursor()
        print('filling database...4')
        cursor.execute("""insert into  dbo.Ngram(IDFrase, Frase, Word1, Word2, IDLem, IDText) values (1, 'белый дом', 'белый', 'дом', 1, 1)""")    
        print('filling database...5')
        cursor.commit()

filling database...2
filling database...4
filling database...5

In [1]:
#IDFrase Frase Word1 Word2 IDLem IDText
def fill_db(phrase):
    print('filling database...1')
    with pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-D39A2O2\SQLEXPRESS;'
                      'Database=ngram;'
                      'Trusted_Connection=yes;') as conn:
        print('filling database...2')
        cursor = conn.cursor()
        print('filling database...4')
        cursor.executemany("""insert into  dbo.Text(Text, Phrase) values ( ?, ?)""", phrase)    
        print('filling database...5')
        cursor.commit()

In [3]:
tt = ('Я ем вкусную шоколадку', 'вкусную шоколадку')
fill_db([tt])

filling database...1
filling database...2
filling database...4
filling database...5

In [4]:
print(tt)

('Я ем вкусную шоколадку', 'вкусную шоколадку')

In [7]:

with pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-D39A2O2\SQLEXPRESS;'
                      'Database=ngram;'
                      'Trusted_Connection=yes;') as conn:
        cursor = conn.cursor()
        cursor.execute("""SELECT * FROM dbo.Text where Phrase = 'вкусную шоколадку'""")   
        #cursor.commit()
        records = cursor.fetchall()

print(records)

[(20005, 'Я ем вкусную шоколадку', 'вкусную шоколадку                                                                                                                                                                                                                                             ')]

In [6]:
from bs4 import BeautifulSoup
import requests

In [7]:
import pandas as pd
from bs4 import BeautifulSoup

# Read the HTML file into a Pandas dataframe
with open('results.html', encoding="utf-8") as file:
    soup = BeautifulSoup(file, 'html.parser')
tables = pd.read_html(str(soup))

C:\Users\ILLA_0\AppData\Local\Temp\ipykernel_34156\3350592731.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(str(soup))

In [8]:
table = tables[0]
print(table)

         Text                      Type
0   белый дом  TAuxDicArticle [СущПрил]
1  синий утес  TAuxDicArticle [СущПрил]

In [9]:
type(tables)

list

In [10]:
table.Text[0]

'белый дом'

In [11]:
tmp = table.Text[0]

In [13]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ILLA_0\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [14]:
word_list = nltk.word_tokenize(table.Text[0])
print(word_list)

['белый', 'дом']

In [15]:
def tknz(wrd):
    word_list = nltk.word_tokenize(wrd)
    return(word_list)

In [16]:
phrase = (2, tmp, word_list[0], word_list[1], 1, 1)
fill_db([phrase])

NameError: name 'fill_db' is not defined

In [17]:
def tomparce(x):
    with open(x, encoding="utf-8") as file:
        soup = BeautifulSoup(file, 'html.parser')
    tables = pd.read_html(str(soup))
    return(tables)

In [18]:
rslt = tomparce('results.html')[0]

C:\Users\ILLA_0\AppData\Local\Temp\ipykernel_34156\200335538.py:4: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(str(soup))

In [19]:
rslt

         Text                      Type
0   белый дом  TAuxDicArticle [СущПрил]
1  синий утес  TAuxDicArticle [СущПрил]

In [20]:
range(len(rslt.Text))

range(0, 2)

In [21]:
rslt.Text[0]

'белый дом'

In [22]:
for row in rslt.itertuples():
    print(row.Text)

белый дом
синий утес

In [24]:
tmp=[]
i = 0

In [25]:
for row in rslt.itertuples():
    tmp.append((row.Text))

In [26]:
tmp

['белый дом', 'синий утес']

In [27]:
phrase = []
toks = []
i=0
j = 3
for i in range(len(rslt.Text)):
    toks=tknz(rslt.Text[i])
    print(toks)
    phrase.append((j, rslt.Text[i], toks[0], toks[1], 1,1))
    i=i+1
    j=j+1

['белый', 'дом']
['синий', 'утес']

In [29]:
rslt.Text[1]

'синий утес'

In [30]:
type(phrase)

list

In [31]:
phrase[0][1]

'белый дом'

In [34]:
phr = 19007
with pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-D39A2O2\SQLEXPRESS;'
                      'Database=ngram;'
                      'Trusted_Connection=yes;') as conn:
        cursor = conn.cursor()
        cursor.execute("""SELECT * FROM dbo.Text where IDText = ?;""", phr)   
        #cursor.commit()
        records = cursor.fetchall()

print(records)

[(19007, "['В Томске можно найти большой университет, белый дом, университетскую рощу']", 'большой университет                                                                                                                                                                                                                                           ')]

In [35]:
len(records)

1

In [36]:
#dbconn(cursor.execute("SELECT Frase FROM dbo.Ngram where Frase = ?;", phrase[0][1]))
#ph=cursor.commit()

NameError: name 'dbconn' is not defined

In [37]:
phrase[0]

(3, 'белый дом', 'белый', 'дом', 1, 1)

In [46]:
i=0
while i < len(phrase):
    dbconn(cursor.execute("SELECT Phrase FROM dbo.Ngram where Phrase = ?;", phrase[i][1]))
    ph = cursor.fetchall()
    if len(ph) == 0:
        inp = (1, phrase[i][1], phrase[i][2], phrase[i][3], 1, 1)
        fill_db([inp])
        i=i+1
    else:
        print('Словосочетание уже есть в Базе')
        i=i+1

ProgrammingError: ('42S22', '[42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]Недопустимое имя столбца "Phrase". (207) (SQLExecDirectW); [42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]Недопустимое имя столбца "Phrase". (207); [42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]Не удалось выполнить подготовку инструкций. (8180)')

In [39]:
i=0
for i in range(len(phrase)):
    fill_db([phrase[i]])

NameError: name 'fill_db' is not defined

In [48]:
phrase[0][1]

'белый дом'

In [44]:
def dbconn(sql):
    with pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-D39A2O2\SQLEXPRESS;'
                      'Database=ngram;'
                      'Trusted_Connection=yes;') as conn:
        cursor = conn.cursor()
    #cursor.execute("SELECT Frase FROM dbo.Ngram where Frase = ?;", phrase[0][1])
    #cursor.commit()
    return(cursor)

In [49]:
dbconn(cursor.execute("SELECT Phrase FROM dbo.Ngram where Phrase = ?;", phrase[0][1]))
cursor.commit()

ProgrammingError: ('42S22', '[42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]Недопустимое имя столбца "Phrase". (207) (SQLExecDirectW); [42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]Недопустимое имя столбца "Phrase". (207); [42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]Не удалось выполнить подготовку инструкций. (8180)')

# Собираем функции

In [1]:
text = ["Сегодня теплый день."]

In [2]:
text

['Сегодня теплый день.']

In [3]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ILLA_0\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [4]:
def create_connection():
    with pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-D39A2O2\SQLEXPRESS;'
                      'Database=ngram;'
                      'Trusted_Connection=yes;') as conn:
        try:
            print('connecting to database...')
            cursor = conn.cursor()
            print("Connection to DB successful")
        except Error as e:
            print(f"The error '{e}' occurred")
        return cursor

In [5]:
connection = create_connection()

NameError: name 'pyodbc' is not defined

In [55]:
#Execute SQL write to DB
def execute_write_query(connection, text):
    for d in text:
        print(d)
    cursor.execute(" insert into dbo.Text(dbo.Text, Phrase) values (?, ?) ", d)
    cursor.commit()

In [56]:
def execute_write_pos(connection, text, phrase):
    #cursor = connection.cursor()
    #TId = execute_read_query(connection, """SELECT TOP 1 IDText FROM ngram.dbo.Text ORDER BY IDText DESC""")
    #key = TId[0][0] + 1
    #ins = [key, text]
    cursor.executemany(""" insert into dbo.Text( Text) values ( ?);""", [text])
    cursor.commit()
    cursor.executemany(""" insert into dbo.Text( Phrase) values ( ?);""", [phrase[0][0]])
    cursor.commit()

In [57]:
#Execute SQL read DB
def execute_read_query(connection, query):
    #cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

In [58]:
text

['Сегодня теплый день.']

In [619]:
#Check

#select_frase = ("SELECT * FROM dbo.Text;")

#frases = execute_read_query(connection, select_frase)

#for frase in frases:
#    print(frase)

In [ ]:
#execute_write_query(connection, text)

In [59]:
from natasha import (
    Segmenter,
    MorphVocab,
    NewsEmbedding,
    NewsMorphTagger,
    NewsSyntaxParser,
    Doc
)

In [62]:
with open('tomitaapp/test.txt', 'w', encoding='utf-8') as f:
    f.write(str(text))

In [63]:
def tomparce(x):
    with open(x, encoding="utf-8") as file:
        soup = BeautifulSoup(file, 'html.parser')
    tables = pd.read_html(str(soup))
    return(tables)

In [64]:
def tknz(wrd):
    word_list = nltk.word_tokenize(wrd)
    return(word_list)

In [67]:
def extract():
	#txt0 = text
	##
	#run tomita for single file 
	#with codecs.open('tomita app/test.txt', 'w', 'utf-8') as f:
	#	f.write(str(txt0))
		
	#cmd = ["./tomita app/tomitaparser.exe ./tomita app/config.proto"]
	command = ['./tomitaparser.exe', './config.proto']
	# Run the command and capture the output
	output = subprocess.check_output(command)
	##
	#return render_template('pretty.html')

In [69]:
extract()

In [70]:
rslt = tomparce('./templates/pretty.html')[0]

C:\Users\ILLA_0\AppData\Local\Temp\ipykernel_34156\200335538.py:4: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(str(soup))

In [78]:
rslt

          Text                      Type            toks
0  теплый день  TAuxDicArticle [СущПрил]  [теплый, день]

In [74]:
#Tokens
rslt['toks'] = rslt.apply(lambda row: nltk.word_tokenize(row['Text']), axis=1)

In [77]:
#Add text to each cell
for line in range(len(rslt['Text'])):
    rslt['txt']= lines[0]

NameError: name 'lines' is not defined

In [84]:
rslt['txt']=text

In [85]:
rslt

          Text                      Type            toks                   txt
0  теплый день  TAuxDicArticle [СущПрил]  [теплый, день]  Сегодня теплый день.

In [86]:
#Ecec to DB
cnxn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-D39A2O2\SQLEXPRESS;'
                      'Database=ngram;'
                      'Trusted_Connection=yes;')
cursor = cnxn.cursor()

# Insert Dataframe into SQL Server:
for index, row in rslt.iterrows():
     cursor.execute("insert into dbo.Text(dbo.Text, Phrase) values (?, ?)", row.txt, row.Text)
cnxn.commit()
cursor.close()

In [87]:
#def getTextID(x):
def getIDText(ph):
    phr = ph
    with pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-D39A2O2\SQLEXPRESS;'
                      'Database=ngram;'
                      'Trusted_Connection=yes;') as conn:
        cursor = conn.cursor()
        cursor.execute("""SELECT IDText FROM dbo.Text where Phrase = ?;""", phr)   
        #cursor.commit()
        records = cursor.fetchall()
        cursor.close
    return(records[0][0])

In [92]:
print(getIDText("теплый день"))

19012

In [91]:
rslt['Text'][0]

'теплый день'

In [715]:
##Add words collocation ito DB

In [99]:
rslt['toks'][0][0]

'теплый'

In [100]:
#Forming data structure (Example)
tf = []
t0 = rslt['toks'][0][0],getIDText(rslt['Text'][0])
t1 = rslt['toks'][0][1],getIDText(rslt['Text'][0])
t2 = rslt['toks'][1][0],getIDText(rslt['Text'][2])
t3 = rslt['toks'][2][1],getIDText(rslt['Text'][2])
tf.append(t0)
#tf = [t0, t1]
#tf = tf.insert(0, tmp)
#tf = tf.extend(t2, t3)
print(tf)

KeyError: 1

In [963]:
tf.append(t3)

In [964]:
tf

[('большой', 19007),
 ('университет', 19007),
 ('белый', 19009),
 (('белый', 19009), ('роща', 19009))]

In [101]:
#Structure
cort = ()
wrd = []
PhData= ()
lst = []
for i in range(len(rslt['toks'])):
    #print(rslt['toks'][i][0])
    wrd = rslt['toks'][i][0]
    idT = getIDText(rslt['Text'][i])
    PhData = wrd, idT
    if len(PhData)==0:
        lst.append(PhData)
        wrd = ''
        wrd = ''
        wrd = rslt['toks'][i][1]
    #PhData =  (PhData, (wrd, idT))
        #PhData = PhData, (wrd,idT)
        i=i+1
    else:#print(PhData)
        wrd = rslt['toks'][i][0]
        idT = getIDText(rslt['Text'][i])
        PhData = wrd, idT
        lst.append(PhData)
        wrd = ''
        wrd = rslt['toks'][i][1]
    #PhData =  (PhData, (wrd, idT))
        #PhData = PhData, (wrd,idT)
        print(lst)
        PhData = ''
        wrd = ''
        idT = ''
        i=i+1

[('теплый', 19012)]

In [109]:
lst

[('теплый', 19012)]

In [112]:
#Coll-ion SQL insert
def execute_write_toks(connection,tt):
    for d in tt:
        cursor.execute(" insert into dbo.Ngram(dbo.Word, IDText) values (?, ?) ", d)
        cursor.commit()

In [113]:
execute_write_toks(connection, lst)

ProgrammingError: Attempt to use a closed cursor.

In [845]:
#Insert PoS
from natasha import (
    Segmenter,
    MorphVocab,
    NewsEmbedding,
    NewsMorphTagger,
    NewsSyntaxParser,
    Doc
)

2

In [989]:
def extrpos(sent):
    morph_vocab = MorphVocab()
    segmenter = Segmenter()
    emb = NewsEmbedding()
    morph_tagger = NewsMorphTagger(emb)
    syntax_parser = NewsSyntaxParser(emb)
    doc = Doc(sent)
    doc.segment(segmenter)
    doc.tag_morph(morph_tagger)
    return(doc)

In [1003]:
#checkpos = extrpos(rslt['Text'][1][0])
rslt['Text'][0]

'большой университет'

In [1005]:
rslt['txt'][0]

"['В Томске можно найти большой университет, белый дом, университетскую рощу']"

In [1012]:
fullstring = rslt['txt'][0]
substring = rslt['Text'][0]
if substring in fullstring:
    print("Подстрока найдена!")
else:
    print("Подстрока не найдена!")
    
try:
    fullstring.index(substring)
except ValueError:
    print("Подстрока не найдена!")
else:
    print("Подстрока найдена!")
    
if fullstring.find(substring) != -1:
    print("Подстрока найдена!")
else:
    print("Подстрока не найдена!")

from re import search
if search(substring, fullstring):
    print("Подстрока найдена!")
else:
    print("Подстрока не найдена!")

Подстрока найдена!
Подстрока найдена!
Подстрока найдена!
Подстрока найдена!

In [111]:
checkpos = extrpos(rslt['Text'][1])

NameError: name 'extrpos' is not defined

In [110]:
for token in checkpos.tokens:
    print(token.pos, token.text)

NameError: name 'checkpos' is not defined

In [981]:
def getIDWord(ph):
    phr = ph
    with pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-D39A2O2\SQLEXPRESS;'
                      'Database=ngram;'
                      'Trusted_Connection=yes;') as conn:
        cursor = conn.cursor()
        cursor.execute("""SELECT IDWord FROM dbo.Ngram where Word = ?;""", phr)   
        #cursor.commit()
        records = cursor.fetchall()
        cursor.close
    return(records[0][0])

In [986]:
getIDWord(rslt['toks'][0][0])
for token in doc.tokens:
    print(token.pos, token.text)

ADJ большой
NOUN университет

In [988]:
rslt['txt'][0]

"['В Томске можно найти большой университет, белый дом, университетскую рощу']"

In [ ]:
cort = ()
wrd = []
posw = []
PhData= ()
lst = []
for i in range(len(rslt['toks'])):
    #print(rslt['toks'][i][0])
    wrd = rslt['toks'][i][0]
    idT = getIDText(rslt['Text'][i])
    idW = getIDWord(wrd)
    posw = extrpos(wrd)
    PhData = wrd, idT
    if len(PhData)==0:
        lst.append(PhData)
        wrd = ''
        wrd = ''
        wrd = rslt['toks'][i][1]
    #PhData =  (PhData, (wrd, idT))
        #PhData = PhData, (wrd,idT)
        i=i+1
    else:#print(PhData)
        wrd = rslt['toks'][i][0]
        idT = getIDText(rslt['Text'][i])
        PhData = wrd, idT
        lst.append(PhData)
        wrd = ''
        wrd = rslt['toks'][i][1]
    #PhData =  (PhData, (wrd, idT))
        #PhData = PhData, (wrd,idT)
        print(lst)
        PhData = ''
        wrd = ''
        idT = ''
        i=i+1

In [ ]:
for token in doc.tokens:
    print(token.pos, token.text)

In [983]:
rslt['toks'][0][0]

'большой'

In [887]:
for d in tmp[0]:
    print(d)

(((('большой', 19007), ('белый', 19008)), ('дом', 19008)), ('университетская', 19009))
('роща', 19009)

In [847]:
execute_write_toks(connection, PhData)

Error: ('HY004', '[HY004] [Microsoft][ODBC SQL Server Driver]Недопустимый тип данных SQL (0) (SQLBindParameter)')

In [703]:
#txtFull = [(txt0, ph0), (txt1, ph1)]
PhData = []
ph0 = ('большой')
ph1 = ('университет')
id0 = (19008)
id1 = (19008)
PhData = ph0, id0

PhData = [(PhData), (ph1,id1)]
print(PhData)

[('большой', 19008), ('университет', 19008)]

In [36]:
##----
with open('tomita app/test.txt', encoding='utf-8') as file:
    lines = [line.rstrip() for line in file]
while i <= len(rslt['Text']):
    execute_write_query(connection, [lines], [rslt['Text'][i]])
    #execute_write_phrase(connection, [rslt['Text'][i]])
    i=i+1

NameError: name 'i' is not defined

In [606]:
with open('tomita app/test.txt', encoding='utf-8') as file:
    lines = [line.rstrip() for line in file]

In [607]:
lines[0]

"['В Томске можно найти большой университет, белый дом, университетскую рощу']"

In [608]:
rslt['Text'][0]

'большой университет'

In [40]:
##--
#Execute SQL write to DB
def execute_write_query(connection, txt, phr):
    cursor.executemany(""" insert into dbo.Text(dbo.Text, Phrase) values (?, ?);""", ( [txt], [phr]))
    cursor.commit()

In [41]:
##--
#Execute SQL write to DB
def execute_write_queryp(connection,  phr):
    cursor.executemany(""" insert into dbo.Text(dbo.Text, Phrase) values (?);""", ( [phr]))
    cursor.commit()

In [42]:
##--
#Execute SQL write to DB
def execute_write_queryt(connection, txt):
    cursor.executemany(""" insert into dbo.Text(dbo.Text) values (?);""", ( [txt]))
    cursor.commit()

In [43]:
execute_write_queryt(connection, [rslt['Text'][0]])

NameError: name 'cursor' is not defined

In [44]:
execute_write_queryp(connection, lines)

NameError: name 'cursor' is not defined

In [ ]:

execute_write_query(connection, lines, [rslt['Text'][0]])

In [616]:
rslt

,Text,Type,toks,txt
0,большой университет,TAuxDicArticle [СущПрил],"[большой, университет]","['В Томске можно найти большой университет, бе..."
1,белый дом,TAuxDicArticle [СущПрил],"[белый, дом]","['В Томске можно найти большой университет, бе..."
2,университетская роща,TAuxDicArticle [СущПрил],"[университетская, роща]","['В Томске можно найти большой университет, бе..."

In [615]:
for linr in range(len(rslt['Text'])):
    rslt['txt']= lines[0]

In [72]:
cnxn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-D39A2O2\SQLEXPRESS;'
                      'Database=ngram;'
                      'Trusted_Connection=yes;')
cursor = cnxn.cursor()

# Insert Dataframe into SQL Server:
for index, row in rslt.iterrows():
     cursor.execute("insert into dbo.Text(dbo.Text, Phrase) values (?, ?)", row.txt, row.Text)
cnxn.commit()
cursor.close()

In [ ]:
execute_write_query(connection, [tmp])

In [ ]:
execute_write_phrase(connection, [rslt['Text'][0]])

In [ ]:
rslt=insert_ngram(rslt)

In [611]:
rslt['toks'] = rslt.apply(lambda row: nltk.word_tokenize(row['Text']), axis=1)

In [612]:
rslt

                   Text                      Type                     toks
0   большой университет  TAuxDicArticle [СущПрил]   [большой, университет]
1             белый дом  TAuxDicArticle [СущПрил]             [белый, дом]
2  университетская роща  TAuxDicArticle [СущПрил]  [университетская, роща]

In [80]:
morph_vocab = MorphVocab()
segmenter = Segmenter()
emb = NewsEmbedding()
morph_tagger = NewsMorphTagger(emb)
syntax_parser = NewsSyntaxParser(emb)
doc = Doc(rslt['Text'][0])
doc.segment(segmenter)
doc.tag_morph(morph_tagger)
#print(rslt['toks'][0][0].tag_morph(morph_tagger))

In [81]:
print(doc.tokens[:5])

[DocToken(stop=7, text='большой', pos='ADJ', feats=<Inan,Acc,Pos,Masc,Sing>), DocToken(start=8, stop=19, text='университет', pos='NOUN', feats=<Inan,Nom,Masc,Sing>)]

In [82]:
doc.sents[0].morph.print()

             большой ADJ|Animacy=Inan|Case=Acc|Degree=Pos|Gender=Masc|Number=Sing
         университет NOUN|Animacy=Inan|Case=Nom|Gender=Masc|Number=Sing

In [89]:
for token in doc.tokens:
    print(token.pos, token.text)

ADJ большой
NOUN университет

In [95]:
#def getTextID(x):
def getIDText(ph):
    phr = ph
    with pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-D39A2O2\SQLEXPRESS;'
                      'Database=ngram;'
                      'Trusted_Connection=yes;') as conn:
        cursor = conn.cursor()
        cursor.execute("""SELECT IDText FROM dbo.Text where Phrase = ?;""", phr)   
        #cursor.commit()
        records = cursor.fetchall()
        cursor.close
    return(records[0][0])

In [115]:
tk0=rslt['toks'][0][0]
tk1 = rslt['toks'][0][1]
tid = getIDText(rslt['Text'][0])

In [144]:
def execute_write_toks(connection, txt):
    cursor.executemany("""insert into dbo.Ngram(Word) values (?) where IDText=?;""", ( [word],[tid]))
    cursor.commit()

In [147]:
execute_write_toks(connection, tk0, [tid])

ProgrammingError: ('The SQL contains 2 parameter markers, but 1 parameters were supplied', 'HY000')

In [574]:
txt0 = ("есть большие денные")
txt1 = ("читать интересную книгу")
ph0 = ("большие денные")
ph1 = ("интересную книгу")

In [579]:
txtFull = [(txt0, ph0), (txt1, ph1)]

In [580]:
txtFull

[('есть большие денные', 'большие денные'),
 ('читать интересную книгу', 'интересную книгу')]

In [433]:
txtFull.append((txt0, txt1))
phFull.append((ph0, ph1))
idfull.append((idt0, idt1))

TypeError: list.append() takes exactly one argument (2 given)

In [482]:
fullData=[]

In [693]:
txtFull

[('есть большие денные', 'большие денные'),
 ('читать интересную книгу', 'интересную книгу')]

In [484]:
phFull

[('большие денные', 'интересную книгу')]

In [485]:
fullData.append(txtFull + phFull)

In [486]:
fullData

[[('есть большие денные', 'читать интересную книгу'),
  ('большие денные', 'интересную книгу')]]

In [368]:
def execute_write_queryp(connection,  tx):
    cursor.executemany(""" insert into dbo.Text(dbo.Text, dbo.Phrase) values (?,?);""", [tx])
    cursor.commit()

In [361]:
phFull

[('большие денные', 'интересную книгу')]

In [362]:
txtFull[0][0]

'есть большие денные'

In [363]:

execute_write_queryp(connection,  [txtFull], [phFull])

ProgrammingError: ('The SQL contains 2 parameter markers, but 1 parameters were supplied', 'HY000')

In [420]:
def execute_write_queryp(connection,  tx, ph):
    cursor.executemany(""" insert into dbo.Text(Text, Phrase) values (?, ?);""", [tx], [ph])
    cursor.commit()

In [411]:
data

[(1, 'value1', 'value2'), (2, 'value3', 'value4'), (3, 'value5', 'value6')]

In [ ]:
data = [('John', 'Doe'), ('Jane', 'Doe'), ('Bob', 'Smith')]

for d in data:
    cursor.execute("INSERT INTO mytable (first_name, last_name) VALUES (?, ?)", d)

In [365]:
#fullData
for d in fullData:
    print(d)

[('есть большие денные', 'читать интересную книгу'), ('большие денные', 'интересную книгу')]

In [487]:
fullData[0][0]
#fullData[0][1]

('есть большие денные', 'читать интересную книгу')

In [488]:
def execute_write_queryp(connection,  tx):
    cursor.executemany(""" insert into dbo.Text(dbo.Text) values (?);""", [tx])
    cursor.commit()

In [489]:
for d in fullData[0][0]:
    execute_write_queryp(connection,  [d])

In [435]:
fullData

[[('есть большие денные', 'читать интересную книгу'),
  ('большие денные', 'интересную книгу')]]

In [630]:
txtFull

[('есть большие денные', 'большие денные'),
 ('читать интересную книгу', 'интересную книгу')]

In [408]:
phFull[0][1]

'интересную книгу'

[('есть большие денные', 'читать интересную книгу')]

In [431]:
for i in range(len(txtFull[0])):
    execute_write_queryp(connection,  [txtFull[0]],[phFull[0]])
#execute_write_queryp(connection, [txtFull[0]], [phFull[0]])

TypeError: function takes exactly 2 arguments (3 given)

In [549]:
cursor.executemany("""
                  INSERT INTO Components
                  ([Database Number],Description, [Warehouse Code],[Supplier Code], Usage, Major1, Minor1)
                  VALUES (?,?,?,?,?,?,?)
                  """), input_list
cursor.commit()

ProgrammingError: The cursor's connection has been closed.

In [787]:
import pyodbc

conn = pyodbc.connect('DRIVER={SQL Server};SERVER=DESKTOP-D39A2O2\SQLEXPRESS;DATABASE=ngram;''Trusted_Connection=yes;')

In [788]:
cursor = conn.cursor()

In [789]:
cursor.execute('BEGIN TRANSACTION')

In [569]:
data = ('John', 'Doe'), ('Jane', 'Doe'), ('Bob', 'Smith'), ('Томск', 'ТГУ')

In [570]:
data

(('John', 'Doe'), ('Jane', 'Doe'), ('Bob', 'Smith'), ('Томск', 'ТГУ'))

In [563]:
cursor.executemany(
    """
    INSERT INTO dbo.Text(dbo.Text, Phrase) 
    VALUES
    (?, ?),
     
    """, data
)
conn.commit()

ProgrammingError: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]Неправильный синтаксис около конструкции ",". (102) (SQLExecDirectW); [42000] [Microsoft][ODBC SQL Server Driver][SQL Server]Не удалось выполнить подготовку инструкций. (8180)')

In [790]:
for d in txtFull:
    print(d)
    cursor.execute(" insert into dbo.Text(dbo.Text, Phrase) values (?, ?) ", d)
    conn.commit()

('есть большие денные', 'большие денные')
('читать интересную книгу', 'интересную книгу')

In [585]:
conn.close()

In [818]:
PhData

[(((((('большой', 19007), ('университет', 19007)), ('белый', 19008)),
    ('дом', 19008)),
   ('университетская', 19009)),
  ('роща', 19009))]

In [811]:
PhData
for d in PhData:
    print(PhData)
    cursor.execute(" insert into dbo.Ngram(dbo.Word, IDText) values (?, ?) ", d)
    conn.commit()

[(((((('большой', 19007), ('университет', 19007)), ('белый', 19008)), ('дом', 19008)), ('университетская', 19009)), ('роща', 19009))]

ProgrammingError: ('The SQL contains 2 parameter markers, but 1 parameters were supplied', 'HY000')